<%= form_for(@portfolio_item) do |f| %>
  <% if @portfolio_item.errors.any? %>
      <% @portfolio_item.errors.full_messages.each do |error| %>
          <%= alert_generator error %>
      <% end %>
  <% end %>
  <div class="row">
  <div class="col-md-6">
  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_area :title, class: 'form-control' %>
  </div>

 <div class="form-group">
    <%= form.label :subtitle %>
    <%= form.text_area :subtitle, class: 'form-control' %>
  </div>
  
    <div class="form-group">
      <label class="btn btn-primary">
      Upload a main image file <%= form.text_area :main_image, style: 'display:none;' %>
      </label>
    </div>
    
      <div class="form-group">
      <label class="btn btn-primary">
      Upload a thumb image file <%= form.text_area :thumb_image, style: 'display:none;' %>
      </label>
    </div>
  </div>
  
  <div class="col-md-6">
    <div class="form-group">
      <%= form.label :body %>
      <%= form.text_area :body, class: 'form-control', rows: 13%>
    </div>
  </div>
</div>
  
  <hr>
  
  <div class="col-md-12">
  <h2> Technologies </h2>
    <div>
      <%= form.fields_for :technologies do |technology_form| %>
        <%= render 'technology_fields', form: technology_form %>
        <%end%>
        
      <div>
        <%= link_to_add_association 'Add Technology', form, :technologies %>  
      </div>
    </div>
    
    <div class="form-group">
      <%= form.submit 'save portfolio item', class: 'btn btn-primary btn-block' %>
    </div>
  </div>
<% end %>
